<div class="ui container">
  <div class="ui form " >
    <form [formGroup]="myForm"
          (ngSubmit)="updatePassword(myForm)"
    >
    <div class="ui four wide field form-field">
      <label for="">*Date De Naissance</label>
      <input
        required
        type="date"
        useValueAsDate
        placeholder="Début"
        formControlName="dateOfBitrth"
      />
      <mat-error *ngIf="myForm.hasError('required', 'dateOfBitrth')">
        Please enter your date of birth
      </mat-error>
    </div>
    <div class="ui four wide field form-field">
      <ng-container *ngIf="hasZoneGeographiqueLoaded">
      <label>*Zone Geographique</label>
      <select
        (change)="selectChangeZoneGeoHandler(selectedZoneGeo)"
        class="ui selection dropdown four wide field"
        [(ngModel)]="selectedZoneGeo"
        required
        formControlName="selectedZoneGeo"
      >
        <option value="" class="item" disabled>
          Sélectionnez une zone :
        </option>
        <option
          class="item"
          *ngFor="
                let zoneGeo of zonegeographique$
              "
          [ngValue]="zoneGeo.id"
        >
          {{ zoneGeo.name }}

        </option>
      </select>
        <mat-error *ngIf="myForm.hasError('required', 'selectedZoneGeo')">
          Please enter your zone geographique
        </mat-error>
      </ng-container>
    </div>
    <div class="ui four wide field form-field">
      <ng-container *ngIf="hasPaysLoaded">
      <label for="">*Pays</label>
      <select
        class="ui selection dropdown four wide field"
        (change)="selectChangePaysHandler(selectedPays)"
        class="ui selection dropdown four wide field"
        [(ngModel)]="selectedPays"
        required
        formControlName="selectedPays"

      >
        <option value="" class="item" disabled>
          Sélectionnez un Pays :
        </option>
        <option
          class="item"
          *ngFor="
                let pays of pays$
              "
          [ngValue]="pays.id"
        >
        {{pays.name}}
        </option>
      </select>
        <mat-error *ngIf="myForm.hasError('required', 'selectedPays')">
          Please enter your pays
        </mat-error>
      </ng-container>
    </div>
    <div class="ui four wide field form-field">
      <ng-container *ngIf="hasEtablissementLoaded">
      <label for="">*Etablissement</label>
    <select
      class="ui selection dropdown four wide field"
      (change)="selectChangeEtablissementHandler(selectedEtablissement)"
      class="ui selection dropdown four wide field"
      [(ngModel)]="selectedEtablissement"
      required
      formControlName="selectedEtablissement"

    >
      <option value="" class="item" disabled>
        Sélectionnez un établissement :
      </option>
      <option
        class="item"
        *ngFor="
                let etablissement of etablissement$
              "
        [ngValue]="etablissement.id"
      >
        {{etablissement.name}}
      </option>
    </select>
        <mat-error *ngIf="myForm.hasError('required', 'selectedEtablissement')">
          Please enter your Etablissement
        </mat-error>
      </ng-container>
    </div>
    <hr />
      <div class="ui four wide field form-field">
      <mat-form-field>
        <input type="password" matInput placeholder="New password" formControlName="password" required>
        <mat-error *ngIf="myForm.hasError('required', 'password')">
          Please enter your newpassword
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword" [errorStateMatcher]="matcher">
        <mat-error *ngIf="myForm.hasError('notSame')">
          Passwords do not match
        </mat-error>
      </mat-form-field>
      </div>
      <div class="ui four wide field form-field">
      <button
        type="submit"
        class="ui teal right labeled icon button"
        [disabled]="!myForm.valid"
      >
        Initialiser
      </button>
        <button
          class="ui red right labeled icon button">
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
